/* .App {
  text-align: center;
} */

.appContainer{
  background-color: gray;
  border-style: solid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-size:contain ;
  background-size: auto;
  width: 80%;
  padding-top: 25px;
  margin: 20px;
}

.headerBox{
background-color: green;
border-style: solid;
width: 95%;
height: 150px ;
margin-left: 10px;
}


.navigation{
  background-color: blue;
  border-style: solid;
  width: 30%;
  height: 250px;
margin-top:25px ;
margin-left: 10px;
margin-right:10px ;
margin-bottom: 40px;
}


.mainContainer{
  background-color: #e06666;
  border-style: solid;
  width: 62%;
  height: 300px;
  margin-top:25px ;
margin-left: 10px;
margin-right:10px ;
margin-bottom: 30px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.subBox{
  background-color: yellow;
  border-style: solid;
  justify-content: space-evenly;
  height: 70%;
  width: 30%;
  margin: 5px;

}

.advertismentBox{
  background-color: mediumpurple;
  border-style: solid;
  height: 20%;
  width: 90%;
  margin-left: 20px;

}

